# Python bytecode
*.py[cod]
__pycache__/
*.so

# Environment variables
.env
.env.*.local

# Flask-specific
instance/
*.sqlite3
*.db
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/
.venv/
.virtualenv/

# Logs
*.log
*.tmp
*.temp
*.pid
*.seed
*.pid.lock

# Testing
.pytest_cache/
.tox/
.coverage
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Build directories
dist/
build/
htmlcov/
*.egg-info/
.eggs/

# System files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# IDE-specific files
.idea/
.vscode/
*.iml

# Miscellaneous
*.bak
*.orig
*.rej
*.gz
*.zip
*.tgz